body {
    background: #FAF0DE;
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}
.logo {
    width: 168px;
    height: 88px;
    object-fit: contain;
}
.dashboard-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 90vh;
}
.dashboard-title {
    color: #232323;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 10px;
}
.dashboard-subtitle {
    color: #232323;
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 32px;
    text-align: center;
}
.dashboard-options {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 24px;
}
.dashboard-card {
    width: 260px;
    background: radial-gradient(circle, #FF9039 0%, #FF6F20 100%);
    border-radius: 24px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px 24px 16px;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;
}
.dashboard-card h2 {
    font-size: 2em;
    font-weight: 700;
    color: #333;
    margin: 12px 0 8px 0;
}
.dashboard-card p {
    font-size: 1em;
    color: #333;
    margin: 0 0 24px 0;
    text-align: center;
}
.card-icon {
    width: 120px;
    height: auto;
    margin-bottom: 18px;
}
.dashboard-card.grupos {
    background: radial-gradient(circle, #FFD139 0%, #FFB300 100%);
}
.dashboard-card:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 8px 24px rgba(0,0,0,0.18);
}
.dashboard-card a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: inherit;

}
@media (max-width: 670px) {
    .dashboard-main {
        margin: 0px;
        padding-left: 32px;
        padding-right: 32px;
        justify-content: center;
        gap: 4px;
    }
    .dashboard-options {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .dashboard-subtitle {
        font-size: 1.1em;
        margin: 8px;
    }
    .dashboard-title {
        font-size: 2.4em;
        margin-top: 24px;
        margin-bottom: 8px;
    }
}